.main {
  &__view {
    position: absolute;
    top: 32rem;
    right: 0;
    width: 91rem;
    z-index: -1;
    transition: all 0.4s;
  }

  &__preview {
    &:not(:first-child) {
      position: absolute;
    }

    &:nth-child(2) {
      left: 43.7%;
      top: -20%;
      z-index: 3;
      width: 17%;
    }

    &:nth-child(3) {
      left: 35.6%;
      top: -14%;
      z-index: 2;
      width: 33.5%;
    }

    &:nth-child(4) {
      left: 19.1%;
      top: 19.9%;
      z-index: 1;
      width: 33.5%;
    }

    &:nth-child(5) {
      right: 14.2%;
      top: 20%;
      z-index: 1;
      width: 25%;
    }

    &:nth-child(6) {
      right: 43.3%;
      top: 35.5%;
      z-index: 3;
      width: 8%;
    }

    &:nth-child(7) {
      right: 2%;
      bottom: 8.4%;
      z-index: 3;
      width: 27.3%;
    }
  }

  &__pic {
    width: 100%;
    transition: all 0.4s;
  }

  &__figures {
    .main__figure {
      position: absolute;
      z-index: -3;

      &:first-child {
        top: 15.2rem;
        right: 59rem;
        width: 23.1rem;
      }

      &:nth-child(2) {
        right: 73.8rem;
        bottom: 21.2%;
        width: 21.3rem;
      }

      &:nth-child(3) {
        right: 62.7rem;
        bottom: 6.2%;
        width: 25rem;
      }
    }
  }
}
